.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  background-color: var(--blue);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.nav__dot {
  background-color: var(--blue);
  height: 5px;
  width: 5px;
  display: flex;
  border-radius: 50%;
  position: absolute;
  right: -10px;
}
.among-us {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: var(--blue);
}
.nav__link-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
}
.white {
  background-color: white;
}
