@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap");
@import "reset.css";
@import "variables.css";
/* components */
@import "Component/status-bar.css";
@import "Component/nav-bar.css";
@import "Component/screen-header.css";
@import "Component/user-component.css";
/* components */
@import "Screen/login.css";
@import "Screen/friends.css";

body {
  background-color: white;
  font-family: "Nunito", sans-serif;
  color: #2e363e;
}
