@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");
@import "reset.css";
@import "variables.css";
/* components */
@import "Component/status-bar.css";
@import "Component/nav-bar.css";
@import "Component/screen-header.css";
@import "Component/user-component.css";
/* components */
@import "Screen/login.css";
@import "Screen/friends.css";

body {
  background-color: #011735;
  font-family: "Quantico", sans-serif;
  color: white;
}
