.settings__setting {
  padding: 20px 0;
  border-bottom: 2px solid rgba(252, 252, 252, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.additional {
  opacity: 0.7;
}

@keyframes moveUpDown {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.settings__setting i:hover {
  animation: moveUpDown 1s linear infinite;
}
